{% load static %}



<!DOCTYPE html>
<html>
    <head>
        <title>DOUMMAR ALZAHABI</title>
        <link  href="{% static '/css/main.css'  %}" rel="styelsheet" type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
    </head>
    <body>
    <div class="container">
       <div class="row">
        <div class="col-md-3">
            <div class="card card-body h-100" id="profile-wrapper">
<img  id="profile-pic" src="{% static 'images/doumar.jpg' %}" >
<hr>
<h4>Hi I'm Doummar</h4>
<p>I love Coding , Lorem ipsum dolor sit amet, consectetur adipisicing elit.
     </p>
 
        </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body h-100">
                <h4>My first internship of xpertbot</h4>
                <p>3 month after writing my first hello program on septempber 8th 2017 
                    ,i had convinced my boss to let me take a stab at building a better </p>
                    <p>from this you see that i'm someone that jump before i can talk myself
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, et sapiente.
                         Cum ab nihil reprehenderit consequatur eos illum </p>
                    <!-- <ul class="social-links">
                        <li><img class="social" src="{% static 'images/facebook.png' %}"></li>
                        <li><img class="social" src="{% static 'images/instagram.png' %}"></li>
                        <li><img class="social" src="{% static 'images/twitter.png' %}"></li>
                    </ul> -->
            </div>
        </div>
     </div>
<br>
     <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h5>how i learn </h5>
                <hr>
                <p>reverse enginer build ugly prototypes first</p>
                <p>i can learn just about anything by having a final product to tear apart pice by piece </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body">
                <h5>what i know </h5>
                <hr>
                <p>Python,django,html/css,js,jquery,react</p>
                <p>ps:working on node js ,mongo db and machine learnig </p>
            </div>
        </div>
     </div>
<br>
     <div class="row">
        <div class="col-md-6">
            <div class="card card-body"><h5>how i learn </h5>
                <hr>
                <p>reverse enginer build ugly prototypes first</p>
                <p>i can learn just about anything by having a final product to tear apart pice by piece </p></div>
        </div>
        <div class="col-md-6">
            <div class="card card-body">
                <h5>My short term goals </h5>
                <hr>
                <p>After almost two years of supporting my system at the lab i'm ready to learn something new</p>
                <p>aside from building small project i would love to enter a oposition wher i can be part of a bigger ...</p></div>
        </div>
     </div>
     <br>
     <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h5>how i learn </h5>
                <hr>
                <p>reverse enginer build ugly prototypes first</p>
                <p>i can learn just about anything by having a final product to tear apart pice by piece </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body">
                <h5>how i learn </h5>
                <hr>
                <p>reverse enginer build ugly prototypes first</p>
                <p>i can learn just about anything by having a final product to tear apart pice by piece </p>
            </div>
        </div>
     </div>
    </div>
    
    </body>
</html>
 

